<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="user" value="edu_fabian_arg@hotmail.com"/>
      <add key="password" value="Fatima1995."/>
      <add key="navigatorId" value="1"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>